
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electricity Management System</title>
</head>
<body>

    <div class="container">
        <h1>Welcome to the Electricity Management System</h1>
        <p></p>
        <a [routerLink]="'login'" class="btn btn-login">Login</a>
        <a [routerLink]="'customer-registration'" class="btn btn-register">Register</a>
        <p class="small-text">Already have an account? <a [routerLink]="'login'">Login</a> here.</p>
    </div>

</body>
</html>
